<div class="row">
    <div class="col-xs-12">
        <img src="{{ recipe.imagePath }}" alt="#" class="img-responsive"> 
        <h2>{{ recipe.name }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage recipes
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Add ingredient</a></li>
                <li><a href="#">Edit ingredient</a></li>
                <li><a href="#">Delete ingredient</a></li>
            </ul>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        {{ recipe.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredient
    </div>
</div>
